/* removing the defaults styles */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    padding: 20px;
    min-height: 100vh;
    min-width: 100vw;
    background-color:  hsl(303, 10%, 53%);
}
/* ther styles */
.main_content
{
    width: 80%;
    min-height: 90vh;
    box-shadow: 0 0 10px #0005;
    position: relative;
    top: 1rem;
    margin: auto;
    background-color: #fff;
}
.main_content_uppersection
{
    position: relative;
}
.left_section,.right_section
{
    position: absolute;
}
.left_section
{
    left: 10rem;
    top: 5rem;
}
.right_section
{
    right: 6rem;
    top: 5rem;
}

.into_paragraph
{
    padding: 10px;
    width: 45%;
}

/* rating card  */
.review_card *
{
    padding: 0;
    margin: 0;
}
.review_card
{
    /* background-color: red; */
     /* background-color: red; */
    /* background-color:  hsl(303, 10%, 53%); */
   /* background-color: hsl(300, 43%, 22%) ; */
    /* background-color:  hsl(333, 80%, 67%); */
    background-color:  hsl(300, 24%, 96%);
    /* background-color:  hsl(0, 0%, 100%); */
    /* hsl(303, 10%, 53%) */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: .5rem;
}
.review_card img
{
    width: 12px;
}
.image_wrapper
{
   
    display: inline;
}
.rating_test
{
    display: inline-block;
    margin-left: 20px;
    /* font-weight: 400, 500, 700; */
    /* font-weight: 400,; */
    font-weight:500;
    font-weight: 700;
    padding-right: 30px;
    color: hsl(300, 43%, 22%) ;
    
}

.card2
{
    position: relative;
    left: 2rem;
}
.card3
{
    position: relative;
    left: 3rem;
    /* background-color: aqua; */
}


/* testmony cards */
.main_content_lower_section
{
    position: absolute;
bottom: 5rem;
padding: 10px;
/* background: red; */
margin: auto;
transform: translateX(4%);
}
.testmony_card
{
    /* background-color: red; */
       background-color: hsl(300, 43%, 22%) ;
    padding: 30px;
    display: inline-block;
    border-radius: 5px;

    width: 20rem;
} 
.testmony_card img
{
    /* float: left; */
    position: relative;
    width: 60px;
    border-radius: 50%;
}
.testmony_card .name
{
    color: white;
    font-weight: 900;
}
.testmony_card .verification
{
    color: hsl(333, 80%, 67%);
}
.user_name_verification
{
    display: inline-block;
    position:relative;
    margin-right: 2rem;
    top: -2rem;
    right: 1rem;
    margin-left: 2rem;
}
.testmony2
{
    position: relative;
    top: 2rem;
}


.testmony3
{
    position: relative;
    top: 3rem;
}


.bg_patterns
{
    position: absolute;
    z-index: 1;
}

.title_big_card
{
    color: hsl(300, 43%, 22%) ;
}